<h2>Welcome, <%= @user.username %></h2>

<ul>
  <% @tweets.each do |tweet| %>
    <li><a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a> - <%= tweet.content %></li>
  <% end %>
</ul>