<h2><%= @tweet.user.username %></h2>

<p><%= @tweet.content %></p>

<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a><br>
<form action="/tweets/<%= @tweet.id %>/delete" method="POST">
  <input type="submit" name="Delete Tweet">
</form>
