<h2>Log In</h2>

<form action="/login" method="POST">
  <p></label>Username: </label><input id="username" type="text" name="username"></p>
  <p></label>Password: </label><input id="password" type="password" name="password"></p>
  <input id="submit" type="submit" value="Log In">
</form>